@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-700: hsl(0, 0%, 20%);
  --color-gray-800: hsl(0, 0%, 12%);
  --color-gray-900: hsl(0, 0%, 8%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gray-900);
  color: var(--color-white);
  position: relative;
}

p {
  font-size: 14px;
}

p, h1, a {
  margin: 0;
  color: inherit;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin-top: 32px
}

.card {
  background-color: var(--color-gray-800);
  border-radius: 12px;
  padding: 40px;
  max-width: 304px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (max-width: 375px) {
    padding: 24px;
    max-width: 279px;
  }
}

.card_image {
  border-radius: 999px;
  width: 88px;
  height: 88px;
  align-self: center;
}

.card_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
}

.card_subtitle {
  margin-top: 4px;
  color: var(--color-green);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
}

.card_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

.card_button {
  background-color: var(--color-gray-700);
  color: var(--color-white);
  text-decoration: none;
  border: 0px;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
}

.card_button:hover,
.card_button:focus,
.card_button:focus-visible {
  background-color: var(--color-green);
  color: var(--color-gray-700);
  outline: none;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.attribution {
  text-align: center;
  font-size: 8px;
  padding: 16px 0;
}